#----------------
# Common settings
#----------------

rigName="I-farm1-13x1060"
email="kardapolov@gmail.com"

#-----------------
# WATCHDOG SETTINGS
#-----------------

#Watchdog query interval (seconds)
wdInterval=60

#Watchdog signal utilization level
wdSignalUtilization=60

#Watchdog timeout (set timeout to start querries for GPU utilization, in seconds)
wdTimeout=120

#--------
# ETHCONTROL
#--------

accessToken="a6cfaf5d80f9b1c01a0c1e33083a00f1"
