#----------------
# Common settings
#----------------

rigName="GlebB-farm2-13xRX570"
email="wk.borisov@gmail.com"
cards=(0 1 2 3 4 5 6 7 8 9 10 11 12)
passwd=GlebB

#---------
# Common settings
#---------

autostart=1
overclocking=1
downvolt=1

ethMonitoring=0
ethMonitoringToken=3679da2f675a2ebe57a7c26e9f526d6b

#---------
# Coin
# ONLY IF EHTMONITORING IS DISABLED
# 0 - Ethereum
# 1 - ZCash
#---------

coin=0

#---------
# Overclocking memory
#---------
memClocks[0]=2150
memClocks[1]=2150
memClocks[2]=2150
memClocks[3]=2150
memClocks[4]=2150
memClocks[5]=2150
memClocks[6]=2150
memClocks[7]=2150
memClocks[8]=2150
memClocks[9]=2150
memClocks[10]=2150
memClocks[11]=2150
memClocks[12]=2150
memClocks[13]=2150

#--------
# Downvolt (mV)
#--------
memVoltage=800
coreClock=1144
coreVoltageOffset=-50
maxPowerLimit=95

#--------
# EthPools
# 0 - nanopool
# 1 - ethermine
#--------

ethPool=0

#--------
# WALLETS
#--------

# Ethereum
ethAddress="0x2c1c5814b82716e53fc174975b687a2a6c26274b"
