#----------------
# Common settings
#----------------

rigName="GlebB-farm1-13xRX570"
email="wk.borisov@gmail.com"
cards=(0 1 2 3 4 5 6 7 8 9 10 11 12 13)
passwd=GlebB

#---------
# Common settings
#---------

autostart=1
overclocking=1

ethMonitoring=1
ethMonitoringToken=3679da2f675a2ebe57a7c26e9f526d6b

#---------
# Coin
# ONLY IF EHTMONITORING IS DISABLED
# 0 - Ethereum
# 1 - ZCash
#---------

coin=0

#---------
# Overclocking memory
#---------
memClocks[0]=2100
memClocks[1]=2100
memClocks[2]=2100
memClocks[3]=2100
memClocks[4]=2100
memClocks[5]=2100
memClocks[6]=2100
memClocks[7]=2100
memClocks[8]=2100
memClocks[9]=2100
memClocks[10]=2100
memClocks[11]=2100
memClocks[12]=2100

#--------
# EthPools
# 0 - nanopool
# 1 - ethermine
#--------

ethPool=0

#--------
# WALLETS
#--------

# Ethereum
ethAddress="0xe6185b158d7a99cde1f32f4a2eae572264b05a2f"
