[Desktop Entry]
Name=FAN Control
Comment=Запустить удаленный VNC сервер
GenericName=
Keywords=fan
Exec=/home/farm4/miners/fancontrol.sh
Terminal=false
Type=Application
Icon=
Path=
Categories=
NoDisplay=false
Name[ru]=FAN control
