[Desktop Entry]
Type=Application
Exec=x11vnc --fbauth -display :0 -geometry 1920x1080 auth guess -forever -bg  
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[ru]=VNC
Name=VNC
Comment[ru]=
Comment=
