[Desktop Entry]
Name=Bitcoin Gold
Comment=Старт майнинга Bitcoin Gold
GenericName=
Keywords=bitcoin;gold;майнинг
Exec=/home/farm4/miners/btg.sh
Terminal=true
Type=Application
Icon=
Path=
Categories=
NoDisplay=false
Name[ru]=Bitcoin Gole
