[Desktop Entry]
Name=Ethereum Classic
Comment=Старт майнинга эфира классик
GenericName=
Keywords=Ethereum;Эфир;классик;майнинг
Exec=miners/etc.sh
Terminal=true
Type=Application
Icon=ethereum-classic.png
Path=
Categories=
NoDisplay=false
Name[ru]=EthereumClassic
