[Desktop Entry]
Name=Ethereum
Comment=Старт майнинга эфира
GenericName=
Keywords=Ethereum;Эфир;майнинг
Exec=/home/farmer/miners/eth.sh
Terminal=true
Type=Application
Icon=/home/farmer/miners/icons/ethereum.png
Path=
Categories=
NoDisplay=false
