[Desktop Entry]
Name=Ethereum Classic
Comment=Старт майнинга эфира классик
GenericName=
Keywords=Ethereum;Эфир;классик;майнинг
Exec=/home/farm4/miners/miners/etc.sh
Terminal=true
Type=Application
Icon=/home/farm4/miners/icons/ethereum-classic.png
Path=
Categories=
NoDisplay=false
Name[ru]=EthereumClassic
