[Desktop Entry]
Name=Expanse
Comment=Старт майнинга Expanse
GenericName=
Keywords=expanse;экспанс;майнинг
Exec=miners/exp.sh
Terminal=true
Type=Application
Icon=expanse.jpg
Path=
Categories=
NoDisplay=false
Name[ru]=Expanse
