[Desktop Entry]
Name=git
Comment=обновить ПО
GenericName=
Keywords=git;майнинг
Exec=/home/farmer/miners/git-pull.sh
Terminal=false
Type=Application
Icon=
Path=
Categories=
NoDisplay=false
