[Desktop Entry]
Name=Komodo
Comment=Старт майнинга Komodo
GenericName=
Keywords=komodo;комодо;майнинг
Exec=/home/farm4/miners/kmd.sh
Terminal=true
Type=Application
Icon=/home/farm4/miners/icons/komodo.png
Path=
Categories=
NoDisplay=false
Name[ru]=Komodo
