[Desktop Entry]
Name=Komodo
Comment=Старт майнинга Komodo
GenericName=
Keywords=komodo;комодо;майнинг
Exec=miners/kmd.sh
Terminal=true
Type=Application
Icon=komodo.png
Path=
Categories=
NoDisplay=false
Name[ru]=Komodo
