[Desktop Entry]
Name=Musicoin
Comment=Старт майнинга musicoin
GenericName=
Keywords=musicoin;музикоин;майнинг
Exec=/home/farm4/miners/mus.sh
Terminal=true
Type=Application
Icon=/home/farm4/miners/icons/musicoin.png
Path=
Categories=
NoDisplay=false
Name[ru]=Musicoin
