[Desktop Entry]
Name=Ubiq
Comment=Старт майнинга ubiq
GenericName=
Keywords=ubiq;убик;майнинг
Exec=miners/ubq.sh
Terminal=true
Type=Application
Icon=ubq.svg
Path=
Categories=
NoDisplay=false
Name[ru]=Ubiq
