[Desktop Entry]
Name=VNC Server
Comment=Запустить удаленный VNC сервер
GenericName=
Keywords=vnc
Exec=miners/vnc.sh
Terminal=false
Type=Application
Icon=
Path=
Categories=
NoDisplay=false
Name[ru]=VNC
