[Desktop Entry]
Name=Monero
Comment=Старт майнинга Monero
GenericName=
Keywords=xmr;monero;майнинг
Exec=/home/farm4/miners/xmr.sh
Terminal=true
Type=Application
Icon=/home/farm4/miners/icons/monero.jpg
Path=
Categories=
NoDisplay=false
Name[ru]=xmr
