[Desktop Entry]
Name=ZCash classic
Comment=Старт майнинга ZCash classic
GenericName=
Keywords=zcash;зек;classic;классик;майнинг
Exec=miners/zcl.sh
Terminal=true
Type=Application
Icon=zcash-classic.png
Path=
Categories=
NoDisplay=false
Name[ru]=ZCashClassic
