[Desktop Entry]
Name=ZCash
Comment=Старт майнинга ZCash
GenericName=
Keywords=zcash;зек;майнинг
Exec=/home/farm4/miners/zec.sh
Terminal=true
Type=Application
Icon=/home/farm4/miners/icons/zcash.png
Path=
Categories=
NoDisplay=false
Name[ru]=ZCash
