[Desktop Entry]
Name=ZCash
Comment=Старт майнинга ZEC
GenericName=
Keywords=ZCash;майнинг
Exec=/home/farmer/miners/zec.sh
Terminal=true
Type=Application
Icon=/home/farmer/miners/icons/zcash.png
Path=
Categories=
NoDisplay=false
