[Desktop Entry]
Name=ZCash
Comment=Старт майнинга ZCash
GenericName=
Keywords=zcash;зек;майнинг
Exec=miners/zec.sh
Terminal=true
Type=Application
Icon=zcash.png
Path=
Categories=
NoDisplay=false
Name[ru]=ZCash
