[Desktop Entry]
Name=Zencash
Comment=Старт майнинга zencash
GenericName=
Keywords=zencash;зенкеш;майнинг
Exec=/home/farm4/miners/zen.sh
Terminal=true
Type=Application
Icon=/home/farm4/miners/icons/zencash.jpg
Path=
Categories=
NoDisplay=false
Name[ru]=Zencash
