[Desktop Entry]
Name=Zencash
Comment=Старт майнинга zencash
GenericName=
Keywords=zencash;зенкеш;майнинг
Exec=miners/zen.sh
Terminal=true
Type=Application
Icon=icons/zencash.jpg
Path=
Categories=
NoDisplay=false
Name[ru]=Zencash
